<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/datagrid-detailview.js"></script>
    <script type="text/javascript" src="/webuploader/webuploader.js"></script>
</head>
<body class="easyui-layout">/
    <div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">
        后台管理系统
    </div>
    <div data-options="region:'west',split:true,title:'West'" style="width:330px;padding:10px;">
<!--        <div style="margin:20px 0 10px 0;"></div>-->
        <div class="easyui-accordion" style="width:100%;height:100%;">
            <div title="基本信息管理" data-options="iconCls:'icon-ok'" style="padding:10px;">
                <ul class="easyui-tree">
                    <li>
                        <a href="javascript:addDatagrid()">平台属性管理</a>
                    </li>

                </ul>
            </div>
            <div title="商品信息管理" data-options="iconCls:'icon-help'" style="padding:10px;">
                <ul class="easyui-tree">
                    <li><a href="javascript:addSpuDatagrid()">SPU属性管理</a></li>
                </ul>
            </div>
            <div title="广告管理" data-options="iconCls:'icon-search'" style="padding:10px 0;">
                <ul class="easyui-tree">
                    <li>平台属性管理</li>
                </ul>
            </div>
        </div>
    </div>
    <div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
    <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>
    <div data-options="region:'center',title:'Center'">
        <div id="tt" class="easyui-tabs" style="width:100%;height:100%;"></div>
    </div>
</body>
<script>
    function addDatagrid() {
        var isExists = $('#tt').tabs('exists', '属性信息管理');
        if (!isExists) {
            $('#tt').tabs('add', {
                title:'属性信息管理',
                closable:true,
                // selected: false,
                href: 'attrListPage',  // the new content URL
            });
        } else {
            $('#tt').tabs('select', '属性信息管理');
        }
    }

    function addSpuDatagrid() {
        var isExists = $('#tt').tabs('exists', 'SPU属性信息管理');
        if (!isExists) {
            $('#tt').tabs('add', {
                title:'SPU属性信息管理',
                closable:true,
                // selected: false,
                href: 'spuListPage',  // the new content URL
            });
        } else {
            $('#tt').tabs('select', 'SPU属性信息管理');
        }
    }

</script>
</html>